// src/sass/components/_loader.scss
@import '../abstracts/mixins';  // Adjust the path if your structure is different



.preloader {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden !important;

  .texts-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      width: 480px;
      font-size: 20px;
      overflow: hidden;
      font-weight: 800;
      opacity: 0;
      color: white;

      @include media("<=phone") {
          font-size: 17px;
          width: 240px;
      }

      @media (max-width: 768px) {
        width: 80%;
      }

      
  }
}

.texts-container span {
  font-size: 24px;
  font-family: "'Poiret One'", serif !important;
  font-weight: 200;

  @media (max-width: 768px) {
    font-size: 18px;
  }

}